<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recording Sample</title>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/recorder.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
